  .top-bar {
    width: 100%;
    height: 70px;
    background-color: #e0e0e0;
  }

  body {
    background-color: #F8F8F8;
  }

  #wrapper {
    position: relative;
    height: 700px;
  }

  #pics {
    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 10;
  }

  #tester {
    float: right;
  }

  #map {
    height: 650px;
    width: 100%;
    position: absolute;
  }

  #rental-cost {
    height: 15px;
  }

  .colour {
    background-color: red;
  }

  table{
    border-collapse:collapse;
    border:1px solid black;
  }

  #terms {
    color: red;
    font-weight: bold;
  }

  #contact-title {
    text-align: center;
  }

  .email-phone {
    margin-left: 10px;
  }

  table td{
  border:1px solid gray;
  width: 30px;
  }

  .unavailable {
    background-color: red;
  }

  * {
      box-sizing: border-box;
  }

  body {
      margin: 0;
      font-family: Arial;
  }

  /* The grid: Four equal columns that floats next to each other */
  .column {
      float: left;
      width: 25%;
      padding: 10px;
  }

  /* Style the images inside the grid */
  .column img {
      opacity: 0.8;
      cursor: pointer;
  }

  .column img:hover {
      opacity: 1;
  }

  .row {
    width: 100%;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  /* The expanding image container */
  .container {
      position: relative;
      display: show;
  }

  /* Expanding image text */
  #imgtext {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: white;
      font-size: 20px;
  }

  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color: black;
  }

 .contain{
   width: 450px;
   height: 450px;
   border: 5px solid black;
   margin: 40px;
   border-radius: 10px;
   background-color: white;
 }

 .tester {
   width: 40%;
   height: 100px;
   border: 1px solid black;
 }

  #prices-banner {
    padding-bottom: 15px;
    border-bottom: black 5px solid;
  }

  #prices {
    font-family: arial;
    font-size: 14pt;
    border-bottom: black 5px solid;
    font-weight: bold;
  }

 #rental-details {
   text-align: center;
   position: relative;
 }

 #wrapper2 {
   width: 100%;
   height: 550px;
 }

 #wrapper3 {
   width: 100%;
   height: 550px;
   background-color: brown;
 }

 #contact {
   float: left;
 }

 #rental-details input[type="text"] {
   padding: 4px;
   margin: 2px;
 }

 #date-time {
   text-align: center;
 }









/*  #wrapper {
      overflow: auto;
      height: 600px;
      background-color: red;
      width: 100%;
  }
