  .top-bar {
    width: 100%;
    height: 70px;
    background-color: #e0e0e0;
  }

  body {
    background-color: #F8F8F8;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
  }

  #wrapper {
    position: relative;
    height: 700px;
  }

  #pics {
    position: absolute;
    top: 30px;
    left: 60px;
    z-index: 10;
  }

  #tester {
    float: right;
  }

  #map {
    height: 700px;
    width: 100%;
    position: absolute;
  }

  #about-me {
    position: relative;
    z-index: 3;
    width: 45%;
    float: right;
    margin-right: 150px;
    margin-top: 40px;
    height: 470px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
  }

  #about-me-text {
    position: relative;
    height: 250px;
    width: 50%;
    float: right;
    top: 5px;
    right: 30px;
    font-family: 'Fira Sans', sans-serif;
  }



  #line {
    top: 45px;
    position: relative;
    height: 5px;
    width: 100%;
    background-color: black;
  }

  #bottom-details {
    width: 100%;
    background-color: crimson;
    clear: none;
  }

  #details {
    width: 30%;
    float:left;
    height: 120px;
    margin-left: 45px;
  }

  #detail-headings {
    float: left;
  }

  #detail-answers {
    float: right;
  }


  #features {
    width: 40%;
    margin-left: 80px;
    padding-bottom: 10px;
    float:left;
  }

  .icon {
    height: 20px;
    width: 20px;
  }

  #jason {
    height: 230px;
    width: 230px;
    position: relative;
    top: 30px;
    left: 40px;
  }

  .colour {
    background-color: red;
  }

  table{
    border-collapse:collapse;
    border:2px solid black;
    position: relative;
    left: 75px;
  }

  #terms {
    color: red;
    font-weight: bold;
  }

  #contact-title {
    text-align: left;
  }

  .email-phone {
    margin-left: 10px;
  }

  table td{
  border:2px solid black;
  width: 35px;
  }

  .unavailable {
    background-color: red;
  }

  * {
      box-sizing: border-box;
  }



  /* The grid: Four equal columns that floats next to each other */
  .column {
      float: left;
      width: 25%;
      padding: 10px;
  }

  /* Style the images inside the grid */
  .column img {
      opacity: 0.8;
      cursor: pointer;
  }

  .column img:hover {
      opacity: 1;
  }

  .row {
    width: 100%;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }

  /* The expanding image container */
  .container {
      position: relative;
      display: show;
  }

  /* Expanding image text */
  #imgtext {
      position: absolute;
      bottom: 15px;
      left: 15px;
      color: white;
      font-size: 20px;
  }

  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    color: black;
  }

 .contain{
   width: 450px;
   height: 470px;
   border: 5px solid black;
   margin: 40px;
   border-radius: 10px;
   background-color: white;
 }

 .tester {
   width: 40%;
   height: 100px;
   border: 1px solid black;
 }

  #prices-banner {
    padding-bottom: 15px;
    border-bottom: black 5px solid;
  }

  #prices {
    font-family: arial;
    font-size: 14pt;
    border-bottom: black 5px solid;
    font-weight: bold;
  }

 #rental-details {
   text-align: center;
   position: relative;
 }

 #wrapper2 {
   width: 100%;
   height: 550px;
 }

 #travel-img {
   width: 100%;
   height: 572px;
   position: absolute;
   opacity: 0.6;
   z-index: 1;
 }

 #wrapper3 {
   width: 100%;
   height: 400px;
   margin-top: 50px;
   background-color: #F8F8F8;
   z-index: 1;
 }

 #contact {
   float: left;
   width: 33%;
   height: 450px;
   padding-left: 70px;
   background-color: #F8F8F8;
 }

#parking-info {
  float: left;
  height: 200px;
  width: 33%;
}


#calendar {
  float: right;
  width: 33%;
  margin: 0 auto;
  padding-bottom: 40px;
}

#calendar tr {
  height: 3px;
}

#date-time input[type="text"] {
   padding: 3px;
   margin: 1px;
 }

 #date-time {
   text-align: center;
   position: absolute;
   z-index: 11;
   margin-left: 100px;
 }

form {
  display: table;
  margin: 15px;
}

form p {
  display: table-row;
}

form label {
  display: table-cell;
}

form input {
  display: table-cell;
}


 #calc {
   height: 40px;
   width: absolute;
   background: #83def7;
   border-radius: 10px;
 }

 #calc-text {
   font-family: 'Fira Sans', sans-serif;
   font-size: 15px;
 }

table {
  padding-top: 30px;
  border: 1px solid gray;
  padding: 5px 0px;
  font-size: 10pt;
  background-color: #f9f7f7;
}

.unavailable {
  background-color: red;
}
