<% include ../views/header %>

<div class="info">
    <div class="container">

        <div class="row">
            <div class="center">
                <h1>About Us</h1>
                <p>
                    We're a team of students, came up with an idea of Quick Car to help out both renters and hirers.
                </p>
                <h4><b>For the Renter</b></h4>
                     We provide a platform for people who want to hirer there cars out. Why is this good for you? Well you have the option and freedom of selecting which car you want and for how long for any car which is available.
                </p>
                </p>
                <h4><b>For the Hirer</b></h4>
                They can earn an extra income by putting a car up for rent whenever it suits them. They can select the hours for when the car is available for and select the price to rent.
                </p>                
            </div>
        </div>
    </div>
</div>

<div class="about">
    <div class="container">
        <h1>Meet The Team</h1>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <div class="col-lg-4 col-md-4">
                    <img src="https://media.licdn.com/dms/image/C5103AQGRAv1NjbL6QQ/profile-displayphoto-shrink_200_200/0?e=1550102400&v=beta&t=FNRM1b2qYQ7TAkfa_H1GzOCpcb1D8-e_s3QWrp-NHSY" class="rounded-circle">
                    <blockquote>
                    <p><em>Software Developer<footer>Johnathan Munster</em></p>
                    </blockquote>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img src="https://media.licdn.com/dms/image/C5603AQGLJZKHhl88dw/profile-displayphoto-shrink_200_200/0?e=1550102400&v=beta&t=DoBidyiR3JxmSZru2EmyhdUFKzni4yLPcnX7qUl24cs" class="rounded-circle">
                    <blockquote>
                        <p><em>Software Developer<footer>Kevin Kerin</em></p>
                    </blockquote>
                </div>
                <div class="col-lg-4 col-md-4">
                    <img src="https://media.licdn.com/dms/image/C4D03AQEpr4hlbnodKQ/profile-displayphoto-shrink_200_200/0?e=1550102400&v=beta&t=yGRzIMbyBXMpyT3lJ0vDifUtTf5ulERafcjbq3CrhDw" class="rounded-circle">
                    <blockquote>
                        <p><em>Software Developer<footer>Sebastian Ryan</em></p>
                    </blockquote>
                </div>
            </div>
    </div>
</div>









<% include ../views/footer %>