<% include ../views/header %>

<section class="newsletter">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h4>Subscribe to our Newsletter</h4>
            <p>What's such a big deal about subscribing to our newsletter you ask?</p>
            <p>You'll get noticed immediately once one of your peferred cars are up for rent!</p>
                <form class="newsletter" method="POST" action="MAILTO:x17164796@student.ncirl.ie" enctype="text/plain">
                <input type="email" class="form-control" placeholder="Enter your email" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="subscribe" value="signin">Sign in</button>
            </form>
        </div>
        <div class="col-md-6 col-sm-6">
                <H4>Where to find Us?</H4>
                <h5>Our Location</h5>
                <p>Quick Car
                <br>
                Department of Computing,
                <br>
                National College of Ireland,
                <br>
                Dublin, Ireland,
                </p>
                <H4>How to Reach Us?</H4>
                <h5>Our Contact Details</h5>
                <p>Phone: 086 123 4567
                    <br>
                    Email: QuickCar@hotmail.com
                </p>
                <h5>Our Social Medias:</h5>
                    <br>
                    <ul class="list-inline">
                        <i class="fa fa-github-square fa-4x" aria-hidden="true"></i>
                        <i class="fa fa-instagram fa-4x" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>



<% include ../views/footer %>