<!-- FOOTER START -->

<div class="footer">
    <div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-4">
                <h1></i></h1>
                <p>Since &copy; 2018</p>
            </div>

            <div class="col-lg-4 col-md-4">
                <h1><a href="/contact">Contact Us</a></h1>
                <p></i> quickcar@hotmail.com</a></p>
            </div>

            <div class="col-lg-4 col-md-4">
                <h1>Find out more about us:</h1>
                <p><a href="/about">About</a></p>
            </div>

        </div>

    </div>
</div>

<!-- FOOTER END -->
</body>
<!--jQuery, then Popper and then JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="/javascripts/bootstrap.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDONGd8jrMHH0vdP01hra-QU-P-_Tatc5I&callback=initMap"></script>


</html>