<% include ../views/header %>
  <!-- Main Image  -->
  <section class="intro">
    <div class="inner">
      <div class="content">
        <h1>Quick Car</h1>
        <a class="btn" href="#cars">See the Cars</a>
      </div>
    </div>
  </section>
  
  <!-- Info About the company -->
  <div class="info">
    <div class="container">
  
      <div class="row">
        <div class="center">
          <h1>What is Quick Car?</h1>
          <p>
            We're not all the same. We all have different needs, different desires, different ideas, and different ways of life. At
            Quick Car, we recognised this, and we can give you the flexibility you've always desired when renting out or hiring a
            car. You choose the price. You choose the duration. You choose the terms. No hidden fees. No red tape.
          </p>
        </div>
        </div>
      </div>
    </div>

<div class="cars" id="cars">
  <div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
      <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="https://www.caranddriving.com/cdwebsite/image169.ashx?url=https://ssl.caranddriving.com/f2/images/new/big/volkswagengolf16tdi0817.jpg">
          <div class="caption">
            <h4>Volkswagen Golf</h4>
            <p>1.6TDI, 250HP</p>
            <p>€35 /Hr</p>
          </div>
          <p class="car-button">
          <a href="/car" class="btn btn-primary btn-sm" role="button">More Info</a>
          </p>
        </div>
          
      </div>

      <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/112460/pexels-photo-112460.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="caption">
            <h4>Mercedes AMG</h4>
            <p>2.2L, 300HP</p>
            <p>€60 /Hr</p>
          </div>
          <p class="car-button">
            <a href="/car" class="btn btn-primary btn-sm" role="button">More Info</a>
          </p>
        </div>

      </div>

      <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/116675/pexels-photo-116675.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="caption">
            <h4>Land Rover</h4>
            <p>3.0L, 4x4</p>
            <p>€50 /Hr</p>
          </div>
          <p class="car-button">
            <a href="/car" class="btn btn-primary btn-sm" role="button">More Info</a>
          </p>
        </div>

      </div>

      <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/163597/oldtimer-automobile-renault-caravelle-163597.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="caption">
            <h4>Renault</h4>
            <p>1.6L, Convertible</p>
            <p>€55 /Hr</p>
          </div>
          <p class="car-button">
            <a href="/car" class="btn btn-primary btn-sm" role="button">More Info</a>
          </p>
        </div>

      </div>

      <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/244206/pexels-photo-244206.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="caption">
            <h4>Audi Sedan</h4>
            <p>2.0L, 184HP</p>
            <p>€40 /Hr</p>
          </div>
          <p class="car-button">
            <a href="/car" class="btn btn-primary btn-sm" role="button">More Info</a>
          </p>
        </div>

      </div>

      <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/164654/pexels-photo-164654.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="caption">
            <h4>Mercedes G63</h4>
            <p>4.0L, 557HP</p>
            <p>€55 /Hr</p>
          </div>
          <p class="car-button">
            <a href="/car" class="btn btn-primary btn-sm" role="button">More Info</a>
          </p>
        </div>

      </div>

      <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/1007410/pexels-photo-1007410.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="caption">
            <h4>Ford Focus</h4>
            <p>1.7L, 220HP</p>
            <p>€55 /Hr</p>
          </div>
          <p class="car-button">
            <a href="/car" class="btn btn-primary btn-sm" role="button">More Info</a>
          </p>
        </div>

      </div>

      <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/627678/pexels-photo-627678.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="caption">
            <h4>Coupe</h4>
            <p>2.0L, 280HP</p>
            <p>€25 /Hr</p>
          </div>
          <p class="car-button">
            <a href="/car" class="btn btn-primary btn-sm" role="button">More Info</a>
          </p>
        </div>

      </div>

      <div class="col-lg-4 col-md-4">
        <div class="thumbnail">
          <img src="https://images.pexels.com/photos/100656/pexels-photo-100656.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
          <div class="caption">
            <h4>BMW</h4>
            <p>2.2L, 230HP</p>
            <p>€55 /Hr</p>
          </div>
          <p class="car-button">
            <a href="/car" class="btn btn-primary btn-sm" role="button">More Info</a>
          </p>
        </div>

      </div>

    </div>
  </div>
</div>





<% include ../views/footer %>

