<% include ../views/header %>

  <!-- Sign Up form -->
  <div class="container"></div>
    <form action="/users/signup" method="POST" class="form-signin" enctype="multipart/form-data">
      <label for="inputName" class="sr-only">Name</label>
      <input type="text" id="inputName" class="form-control" placeholder="Name" name="name" required>
      <label for="inputEmail" class="sr-only">Email</label>
      <label for="inputUsername" class="sr-only">Name</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" name="username" required>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email" name="email">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
      <label for="inputImage" class="sr-only">Password</label>
      <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" name="password2" required>
      <label for="inputImage" class="sr-only">Password</label>
      <p>Upload Licence</p>
      <input type="file" id="inputImage" class="form-control" name="profileimage">
      <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit", value="signup">Sign up</button>
    </form>
    </div>
    <!-- Sign up form finish -->



<% include ../views/footer %>
