/* Navbar Start */

/* Navbar End */

/* SIGNIN */
.form-signin {
  width: 370px;
  padding: 15px;
  margin: 0 auto;
  height: 570px;
}

.form-signin {
  font-weight: normal;
  margin-bottom: 5px;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="text"] {
  margin-top: 55px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}
.form-signin input[type="password"] {
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom-right-radius: 1;
  border-bottom-left-radius: 1;
  border-top-left-radius: 1;
  border-top-right-radius: 1;
}

/* SIGNIN END */

/*FOOTER START*/

.footer {
	background-color: #7AADF1;
  width: 100%;
	color: white;
	padding: 30px 0 30px;
}

.footer h1 {
	font-family: 'Times New Roman';
	font-size: 1.5em;
}

.footer p {
	font-size: 0.9em;
	color: #f2f2f2;
}

.footer a {
	color: #f2f2f2;
}


/*FOOTER END
